<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style type="text/css">
    @media only screen and (max-width: 480px){
        .templateColumnContainer{
            display:block !important;
            width:100% !important;
        }
    }
</style>
</head>
<body style="background-color:#efefef;">
<img src=’{{invite_url}}’>
<!-- Email Wrapper -->

<table width="600" align="center" style="background-color:#FFFFFF;" bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0">
	<tbody>
    	<tr valign="top">
            <td align="center" valign="top">

                <!-- Email Core Content -->

                <table width="600" style="" align="center" bgcolor="#ffffff" border="0" cellspacing="0" cellpadding="0">
                    <tbody>

                           <!-- Header  -->

                            <tr valign="top">
                                <td align="left" valign="top"><img src="https://raw.githubusercontent.com/Pixeloco-Ajay/imgs/master/ashes/h-day1.png" border="0" alt="" style="display:block;position:relative;"></td>
                            </tr>

														<!-- Name Module -->

                            <tr valign="top">
                                <td  align="center" valign="top" style="text-decoration: none;">
																	<p style="font-size: 28px;color:#8c6e4b;font-family: Arial Narrow, Arial, sans-serif;font-weight:bold;padding:0 0 0px 0;">
																	{{recipient.title}} {{recipient.first_name}} {{recipient.last_name}} {% if has_partners %} {% if partners_count_int > 1 %} {{partners_count}} guests {% else %} guest {% endif %} {% endif %}
                                </p></td>
                            </tr>

                            <!-- Invitation Text Module -->

														<tr valign="top">
															<td  align="center" style="padding:10px 0 0 0px;color:#636466">
																<p style="line-height:1.7;font-family: Arial Narrow, Arial, sans-serif;word-wrap:break-word;font-size:18px;">
																	Thank you for accepting our invitation to the Sydney Test 2018.<br> We look forward to seeing you at the game </p>
														</td>
														</tr>



														<!-- <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateColumns">
														    <tr>
														        <td align="center" valign="top">
														            <table align="left" border="0" cellpadding="10" cellspacing="0" width="300" class="templateColumnContainer">
														                <tr>
														                    <td class="leftColumnContent">
																									<img src="https://raw.githubusercontent.com/Pixeloco-Ajay/imgs/master/ashes/icons/when.png"  alt="" />
																									<p>hello world</p>
														                    </td>

														                </tr>
														                <tr>
														                    <td valign="top" class="leftColumnContent">

														                    </td>
														                </tr>
														            </table>

														            <table align="right" border="0" cellpadding="10" cellspacing="0" width="300" class="templateColumnContainer">
														                <tr>
														                    <td class="rightColumnContent">
																									<p >Thu Jan 4 2018</p>
														                    </td>
														                </tr>
														                <tr>
														                    <td valign="top" class="rightColumnContent">
														                        <h1>Right Column</h1>
														                        Lorem ipsum dolor sit amet.
														                    </td>
														                </tr>
														            </table>
														        </td>
														    </tr>
														</table> -->
														<table cellpadding="0" cellspacing="0">
    <tr>
        <td class="pattern" width="600" align="center">
            <table cellpadding="0" cellspacing="0">
                <tr>
                    <td class="col" width="290" valign="top">
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="hero_image"><img src="https://raw.githubusercontent.com/Pixeloco-Ajay/imgs/master/ashes/icons/when.png" width="50" alt="" style="display: block; border: 0;" /></td>
                            </tr>

                            <tr>
                                <td class="headline" align="left" style="font-family: arial,sans-serif; font-size: 22px; color: #333; padding-top: 15px;">
                                    This is a story headline
                                </td>
                            </tr>
                            <tr>
                                <td class="body_copy" align="left" style="font-family: arial,sans-serif; font-size: 14px; line-height: 20px !important; color: #7f7f7f; padding-top: 10px;">
                                    Virtual computing via the cloud is all the rage these days but blade servers, which make up the bulk of the infrastructure for cloud computing systems, require specific fusing for high reliability and uptime. The Littelfuse 456 Series--- NANO2 Subminature Surface Mount Fuse - is perfect for this.
                                </td>
                            </tr>
                            <tr>
                                <td align="left" style="padding-top: 15px;"><img src="http://placehold.it/118x34/333&text=Learn+More" alt="Learn More" style="display: block; border: 0;" /></td>
                            </tr>
                        </table>
                    </td>
                    <td class="spacer" width="20" style="font-size: 1px;">&nbsp;</td>
                    <td class="col" width="290" valign="top">
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="hero_image"><img src="http://placehold.it/450x150" width="290" alt="" style="display: block; border: 0;" /></td>
                            </tr>
                            <tr>
                                <td class="headline" align="left" style="font-family: arial,sans-serif; font-size: 22px; color: #333; padding-top: 15px;">
                                    This is a story headline
                                </td>
                            </tr>
                            <tr>
                                <td class="body_copy" align="left" style="font-family: arial,sans-serif; font-size: 14px; line-height: 20px !important; color: #7f7f7f; padding-top: 10px;">
                                    Virtual computing via the cloud is all the rage these days but blade servers, which make up the bulk of the infrastructure for cloud computing systems, require specific fusing for high reliability and uptime. The Littelfuse 456 Series--- NANO2 Subminature Surface Mount Fuse - is perfect for this.
                                </td>
                            </tr>
                            <tr>
                                <td align="left" style="padding-top: 15px;"><img src="http://placehold.it/118x34/333&text=Learn+More" alt="Learn More" style="display: block; border: 0;" /></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>



<!-- 2 Column Trial -->
<!--
														<td class="two-column">
															<div class="column" align="center">
																<table>
																	<tr>
																		<td class="inner">
																			<table class="contents">
																				<tr>
																					<td>
																						<img src="https://raw.githubusercontent.com/Pixeloco-Ajay/imgs/master/ashes/icons/when.png" width="50" alt="" />
																					</td>
																					<td>
																						<p style="padding-top:10px;">When</p>
																					</td>
																					<td>
																						<p style="padding-left:180px;padding-top:10px;" >Thu Jan 4 2018</p>
																					</td>
																				</tr>
																				<tr >
																					<td>
																						<img src="https://raw.githubusercontent.com/Pixeloco-Ajay/imgs/master/ashes/confirmation-divider.png" style="position:absolute;" /><br/>
																					</td>
																				</tr>
																				<tr>
																					<td>
																						<img src="https://raw.githubusercontent.com/Pixeloco-Ajay/imgs/master/ashes/icons/where.png" width="50" alt="" />
																					</td>
																					<td>
																						<p style="padding-top:10px;">Where</p>
																					</td>
																					<td >
																						<p style="padding-left:180px;padding-top:10px;word-break:break-word;float:right;" >Trust Suite,<br/> Level 3 MA Noble Stand</p>
																					</td>
																				</tr>
																				<tr >
																					<td>
																						<img src="https://raw.githubusercontent.com/Pixeloco-Ajay/imgs/master/ashes/confirmation-divider.png" style="position:absolute;" />
																					</td>
																				</tr>
																			</table>
																		</td>
																	</tr>
																</table>
															</div>
															<div class="column" >
																<table width="100%">
																	<tr>
																		<td class="inner">
																			<table class="contents">
																				<tr>
																					<td class="text">
																						<p style="padding-left:0px;padding-top:20px;">Thu Jan 4 2018</p>
																					</td>
																				</tr>
																				<tr>
																					<td class="text">
																						<p style="padding-left:0px;padding-top:30px;">Trust Suite, Level 3 MA Noble Stand</p>
																					</td>
																				</tr>
																			</table>
																		</td>
																	</tr>
																</table>
															</div>
														</td>
 -->





<!-- ORIGINAL ONE -->

														<tr valign="top">
															<td  align="left">

																<div class="floating-box" style="padding-top:20px;">

																	<span style="padding-left:50px;">
																	<strong  style="text-decoration:none;">
																		<img src="https://raw.githubusercontent.com/Pixeloco-Ajay/imgs/master/ashes/icons/when.png"/>
																	</strong >
																	<p style="padding-left:50px;">When</p>
																	<p style="padding-left:50px;">Thu Jan 4 2018</p>

																</span>

																	<div style="padding-left:50px;" >
																		<img src="https://raw.githubusercontent.com/Pixeloco-Ajay/imgs/master/ashes/confirmation-divider.png"/><br/>
																	</div>
															</div>

														<div class="floating-box" style="padding-top:20px;">

															<span style="padding-left:50px;">
																<strong  style="text-decoration:none;">
																	<img src="https://raw.githubusercontent.com/Pixeloco-Ajay/imgs/master/ashes/icons/where.png"/>
																</strong >
															<p style="padding-left:50px">Where</p>
															<p style="padding-left:50px;">Trust Suite, Level 3 MA Noble Stand</p>

														</span>
																<div style="padding-left:50px" >
																	<img src="https://raw.githubusercontent.com/Pixeloco-Ajay/imgs/master/ashes/confirmation-divider.png"/>
																</div>

														</div>
															</td>
														</tr>


														<tr valign="top">
															<td >

																<h2 style="padding-left:50px;">Your RSVP details</h2>
																<div class="floating-box"style="padding-top:20px;" >

																	<span style="padding-left:50px;"
																	<strong  style="text-decoration:none;">
																		<img src="https://raw.githubusercontent.com/Pixeloco-Ajay/imgs/master/ashes/icons/mobile.png"/>
																	</strong >
																	<p style="padding-left:50px;">Mobile Number</p>
																	<p style="padding-left:50px;">0 414 27 4896</p>

																</span>
																	<div style="padding-left:50px;" >
																	<img src="https://raw.githubusercontent.com/Pixeloco-Ajay/imgs/master/ashes/confirmation-divider.png"/>
																</div>

															</div>
															<div class="floating-box" style="padding-top:20px;">

																<span style="padding-left:50px;"
																<strong  style="text-decoration:none;">
																	<img src="https://raw.githubusercontent.com/Pixeloco-Ajay/imgs/master/ashes/icons/parking.png"/>
																</strong >
															<p style="padding-left:50px;">Parking</p>
															<p style="padding-left:50px;">Required</p>
														</span>
															<div style="padding-left:50px;" >
																<img src="https://raw.githubusercontent.com/Pixeloco-Ajay/imgs/master/ashes/confirmation-divider.png" />
															</div>
															</div>
															</td>
														</tr>


														<!-- Divider -->
														<!-- <tr valign="top" >
																 <td  align="center" style="padding-top:20px;" ><img src="https://raw.githubusercontent.com/Pixeloco-Ajay/imgs/master/ashes/confirmation-divider.png"/></td>
														</tr> -->


														<tr valign="top">
																	<td align="center"style="padding:0px 0 35px 0px;color:#636466;padding-top:50px;" >
																		<p style="font-family:Arial Narrow;font-size:21px;">
																			For event information, download our Android <br/> or iPhone apps using the links below:
																	</p>
																</td>
														</tr>

                            <!-- Information Module -->

														<tr valign="top">
															<td  align="center">
																<div class="floating-box" style="width: 100%;">
																<a href="https://play.google.com/store/apps/details?id=com.sportinginnovations.scgsyd&amp;hl=en" target="_blank" style="text-decoration:none;">
																<strong  style="text-decoration:none;">
																	<img src="https://raw.githubusercontent.com/Pixeloco-Ajay/imgs/master/ashes/google-play-button.png"/>
																</strong >
																</a>
																<a href="https://itunes.apple.com/au/app/scg-allianz-stadium/id409285653?mt=8" target="_blank" style="text-decoration:none;">
																<strong style="text-decoration:none;">
																	<img src="https://raw.githubusercontent.com/Pixeloco-Ajay/imgs/master/ashes/apple-store-button.png"/>
																</strong>
																</a>
															</div>
															</td>
														</tr>

												<!-- Footer  -->

														<tr valign="top" >
																 <td  align="left" style="padding-top:20px;" ><img src="https://raw.githubusercontent.com/Pixeloco-Ajay/imgs/master/ashes/confirmation-footer.png"/></td>
														</tr>

						</tbody>
					</table>

              <!-- End Email Core Content -->

      </td>
		</tr>
	</tbody>
</table>

<!-- End Email Wrapper -->

</body>
</html>
