<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style type="text/css">

</style>
</head>
<body style="background-color:#efefef;">
<img src=’{{invite_url}}’>
<!-- Email Wrapper -->

<table width="600" align="center" style="background-color:#FFFFFF;" bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0">
	<tbody>
    	<tr valign="top">
            <td align="center" valign="top">

                <!-- Email Core Content -->

                <table width="600" style="" align="center" bgcolor="#ffffff" border="0" cellspacing="0" cellpadding="0">
                    <tbody>

                           <!-- Header  -->

                            <tr valign="top">
                                <td align="left" valign="top"><img src="https://raw.githubusercontent.com/Pixeloco-Ajay/imgs/master/ashes/h-day3.png" border="0" alt="" style="display:block;position:relative;"></td>
                            </tr>

														<!-- Name Module -->

                            <tr valign="top">
                                <td  align="center" valign="top" style="text-decoration: none;">
																	<p style="font-size: 28px;color:#8c6e4b;font-family: Arial Narrow, Arial, sans-serif;font-weight:bold;padding:0 0 0px 0;">
																	{{recipient.title}} {{recipient.first_name}} {{recipient.last_name}} {% if has_partners %} {% if partners_count_int > 1 %} {{partners_count}} guests {% else %} guest {% endif %} {% endif %}
                                </p></td>
                            </tr>

                            <!-- Invitation Text Module -->

														<tr valign="top">
															<td  align="center" style="padding:10px 0 0 0px;color:#636466">
																<p style="line-height:1.7;font-family: Arial Narrow, Arial, sans-serif;word-wrap:break-word;font-size:18px;">
																	Thank you for accepting our invitation to the Sydney Test 2018.<br> We look forward to seeing you at the game </p>
														</td>
														</tr>

														<!-- Divider -->
														<tr valign="top" >
																 <td  align="center" style="padding-top:20px;" ><img src="https://raw.githubusercontent.com/Pixeloco-Ajay/imgs/master/ashes/confirmation-divider.png"/></td>
														</tr>


														<tr valign="top">
																	<td align="center"style="padding:20px 0 35px 0px;color:#636466;" >
																		<p style="font-family:Arial Narrow;font-size:21px;">
																			For event information, download our Android <br/> or iPhone apps using the links below:
																	</p>
																</td>
														</tr>

                            <!-- Information Module -->

														<tr valign="top">
															<td  align="center">
																<div class="floating-box" style="width: 100%;">
																<a href="https://play.google.com/store/apps/details?id=com.sportinginnovations.scgsyd&amp;hl=en" target="_blank" style="text-decoration:none;">
																<strong  style="text-decoration:none;">
																	<img src="https://raw.githubusercontent.com/Pixeloco-Ajay/imgs/master/ashes/google-play-button.png"/>
																</strong >
																</a>
																<a href="https://itunes.apple.com/au/app/scg-allianz-stadium/id409285653?mt=8" target="_blank" style="text-decoration:none;">
																<strong style="text-decoration:none;">
																	<img src="https://raw.githubusercontent.com/Pixeloco-Ajay/imgs/master/ashes/apple-store-button.png"/>
																</strong>
																</a>
															</div>
															</td>
														</tr>

												<!-- Footer  -->

														<tr valign="top" >
																 <td  align="left" style="padding-top:20px;" ><img src="https://raw.githubusercontent.com/Pixeloco-Ajay/imgs/master/ashes/confirmation-footer.png"/></td>
														</tr>

						</tbody>
					</table>

              <!-- End Email Core Content -->

      </td>
		</tr>
	</tbody>
</table>

<!-- End Email Wrapper -->

</body>
</html>
